body {
    font-family: "Poppins", sans-serif;
    /* font-family: "Suez One", serif; */
}

/* CUSTOM CSS CLASS  */
.rounded-bottom-4 {
    border-radius: 0 0 15px 15px;
}
.fontStyle {
    font-family: "Suez One", serif;
}
.rounded-4 {
    border-radius: 15px;
}

/* HERO SECTION  */
.hero-bg {
    min-height: 800px;
    margin-top: -64px;
    background-image: url("./Images/heroBg.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: static;
}
.hero-content .hero-text h1 {
    font-family: Suez One;
    font-size: 76px;
}

/* GAME CARD  */
.text {
    z-index: 2;
}
.game-card-img img {
    content: "";
    width: 100%;
    background-size: cover;
    background-image: linear-gradient(
        180deg,
        rgba(218, 57, 43, 0),
        rgba(218, 57, 43, 0.8)
    );
    opacity: 1;
}
/* .game-card-img {
    position: relative;
}
.game-card-img:hover {
    position: absolute;
    background: linear-gradient(
        180deg,
        rgba(218, 57, 43, 0),
        rgba(218, 57, 43, 0.8)
    ) !important;
    transition: opacity 0.4s ease 0s;
} */

/* HERO ABOUT  */

/* OUR TEAM  */
.our-team-section {
    background-image: url("./Images/contactBg.webp");
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
