body {
    font-family: "Poppins", sans-serif;
    /* font-family: "Suez One", serif; */
}

/* CUSTOM CSS CLASS  */
.rounded-bottom-4 {
    border-radius: 0 0 15px 15px;
}
.rounded-4 {
    border-radius: 15px;
}

/* HERO SECTION  */
.hero-bg {
    min-height: 800px;
    margin-top: -64px;
    background-image: url("./Images/heroBg.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: static;
}
.hero-content .hero-text h1 {
    font-family: Suez One;
    font-size: 76px;
}

/* GAME CARD  */
.text {
    z-index: 2;
}
/* .game-card-img {
    position: relative;
}
.game-card-img:hover {
    position: absolute;
    background: linear-gradient(
        180deg,
        rgba(218, 57, 43, 0),
        rgba(218, 57, 43, 0.8)
    ) !important;
    transition: opacity 0.4s ease 0s;
} */

/* HERO ABOUT  */
.hero-about h1 {
    font-family: Suez One;
}
