body {
    font-family: "Poppins", sans-serif;
    /* font-family: "Suez One", serif; */
}

/* CUSTOM CSS CLASS  */
.rounded-bottom-4 {
    border-radius: 0 0 15px 15px;
}
.fontStyle {
    font-family: "Suez One", serif;
}
.rounded-4 {
    border-radius: 15px;
}
.bg-red {
    background-color: #da392b;
}

/* HERO SECTION  */
.hero-bg {
    min-height: 800px;
    margin-top: -64px;
    background-image: url("./Images/heroBg.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-content .hero-text h1 {
    font-family: Suez One;
    font-size: 76px;
}

/* GAME CARD  */
.text {
    z-index: 2;
}
/* .game-card-img img {
    background: linear-gradient(
            180deg,
            rgba(218, 57, 43, 0),
            rgba(218, 57, 43, 0.8)
        ),
        url("./Images/contactBg2.webp");
} */
/* .game-card-img {
    position: relative;
}
.game-card-img:hover {
    position: absolute;
    background: linear-gradient(
        180deg,
        rgba(218, 57, 43, 0),
        rgba(218, 57, 43, 0.8)
    ) !important;
    transition: opacity 0.4s ease 0s;
} */

/* HERO ABOUT  */

/* OUR TEAM  */
.our-team-section {
    background-image: url("./Images/contactBg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.get-in-touch-bg {
    background-image: url("./Images/contactBg2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

/* CV  */

.cv-section {
    background: 
    /* top, transparent red, faked with gradient */ linear-gradient(
            rgba(44, 62, 80, 0.45),
            rgba(0, 0, 0, 0.45)
        ),
        /* bottom, image */ url("./Images/contactBg2.webp");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.we-tripo-bg img {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.overflow-x-hidden {
    overflow-x: hidden;
}
